.skeleton {
    .user-info {
        width: 100%;
    }

    img {
        background-color: var(--clr-grey-7);
        background: linear-gradient(to right,
                rgba(255, 255, 255, 0) 40%,
                rgba(255, 255, 255, 0.5) 50%,
                rgba(255, 255, 255, 0) 60%) var(--clr-grey-9);
        background-size: 200% 100%;
        background-position-x: 180%;
        animation: 1s loading ease-in-out infinite;
    }

    h2 {
        background-color: var(--clr-grey-7);
        background: linear-gradient(to right,
                rgba(255, 255, 255, 0) 40%,
                rgba(255, 255, 255, 0.5) 50%,
                rgba(255, 255, 255, 0) 60%) var(--clr-grey-9);
        background-size: 200% 100%;
        background-position-x: 180%;
        animation: 1s loading ease-in-out infinite;
        height: 1em;
        border-radius: 5px;
        width: 50%;
    }

    p {
        background-color: var(--clr-grey-7);
        background: linear-gradient(to right,
                rgba(255, 255, 255, 0) 40%,
                rgba(255, 255, 255, 0.5) 50%,
                rgba(255, 255, 255, 0) 60%) var(--clr-grey-9);
        background-size: 200% 100%;
        background-position-x: 180%;
        animation: 1s loading ease-in-out infinite;
        height: 1.5em;
        border-radius: 5px;
        width: 100%;
    }
}

@keyframes loading {
    to {
        background-position-x: -20%;
    }
}