.hamburger {
    display: none;
    height: 50px;
    width: 50px;

    .bar {
        background-color: black;
        height: 4px;
        width: 36px;
        margin: 3px;
    }
}

nav {
    position: relative;
    margin: 0 8%;
    text-align: right;
    font-weight: bold;
}

nav ul {
    list-style: none;

    li {
        position: relative;
        margin: 3.2em 0;

        a {
            line-height: 5em;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.4em;
            color: rgba(0, 0, 0);
            display: block;
            transition: all ease-out 300ms;

            &.active {
                color: var(--clr-primary-5);
                text-decoration: underline;
            }
        }

        &:not(.active)::after {
            opacity: 0.2;
        }

        &:not(.active):hover a {
            color: var(--clr-primary-5);
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.2em;
            left: 0;
            bottom: 0;
            background-image: linear-gradient(to right, #332f3d, var(--clr-primary-5))
        }
    }
}

//// Media queries for mobile
@media only screen and (max-width: 820px) {
    nav ul {
        text-align: center;

        li {
            position: relative;
            margin: 0;

            a {
                line-height: 5em;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 0.4em;
                color: rgba(0, 0, 0);
                display: block;
                transition: all ease-out 300ms;
            }
        }
    }

    .app-container {
        margin-top: 60px;
    }

    #sidebar {
        background-color: white;
        position: fixed;
        z-index: 4;
        top: 0;
        left: 0;
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.animateBar1 {
    animation: flipBar1 1s;
    animation-fill-mode: forwards;
}

.animateBar2 {
    animation: fadeBar2 1s;
    animation-fill-mode: forwards;
}

.animateBar3 {
    animation: flipBar3 1s;
    animation-fill-mode: forwards;
}

@keyframes flipBar1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(45deg) translate(4px, 10px);
    }
}

@keyframes fadeBar2 {
    from {
        opacity: 1;
        transform: scaleX(1);
    }

    to {
        opacity: 0;
        transform: scaleX(0);
    }
}

@keyframes flipBar3 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-45deg) translate(4px, -10px)
    }
}